/* Style Sheet */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

#header {
    height: 110px;
    background-color: white;
    width: 100%;
}

h1 {
    font-size: 3em;
}

body {
    font-family: Lato, sans-serif;
    background-color: white;
}
